<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
        <div class="main" style="height: 30%;" >
          <div class="input-fields">
            <input name="username" ngModel placeholder="Username" id="username" type="text" class="input-field" />
          </div>
          <div class="input-fields">
            <input name="password" ngModel placeholder="Password" id="password" type="password" class="input-field" />
          </div>
        </div>
      </form>
      <button (click)="loginUser(loginForm.value)" >Login</button>
    </body>
</html>